h1 {
    color :red;
}
figure{
    margin-left:auto;
    width:10%;
}
img
{
    height:auto;
    max-width:150px;
}
nav a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 0px;
    background-color: black;
}
.sous{
    display: none;
    background-color: white;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
